<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="streamTimeInMilliseconds" value="1000"/>
    <add key="waitBetweenStreamAndPnp" value="3000"/>
    <add key="iterationsNumber" value="5"/>
    <add key="numberOfFramesToCollectInSingleIteration" value="30"/>
    <add key="pnpTest" value="0"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>